{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SW | Recuperação</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <h1>Esqueceu a senha?</h1>

  <p>Digite o seu email e enviaremos as instruções para trocar sua senha.</p>

  <form method='post'>
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type='submit' value='Enviar' class="btn2">
  </form>

  <p>
    Voltar para <a href={% url 'login' %}><button class="btn2">Login</button></a>
  </p>
  
</body>
  
</html>
