</html>
{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SW | Recuperação</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  {% if validlink %}

    <h1>Set a new password!</h1>

    <form method="POST">
      {% csrf_token %}

      <p><label for="id_new_password1">Nova senha:</label> <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> <span class="helptext"></span><div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></p>

      <p><label for="id_new_password2">Confirmar nova senha:</label> <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"><div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></p>
      
      <input type="submit" value="Recuperar senha" class='btn2'>
    </form>
  
  {% else %}
    
    <p>Link inválido, solicite novamente. <a href={% url 'password_reset' %}><button class="btn2">Esqueci a senha</button></a></p>

{% endif %}
  
</body>
  
</html>