{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SW | Recuperação</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <h1>Email enviado!</h1>

  <p>
    Acesse o email e siga as instruções indicadas para concluir a recuperação de senha.
  </p>

  <p>
    (Para fins de teste foi salvo um email falso no diretório sent_emails, o email mais abaixo contém o link para redefinição de senha.)
  </p>

   <p>
    Voltar para <a href={% url 'login' %}><button class="btn2">Login</button></a>
  </p>
  
</body>
  