{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html>
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SW | Logout</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  
  <h1>Tem certeza que quer fazer logout?</h1>

  <form action="." method='post'>
    {% csrf_token %}
    <input type='submit' name='Y' value='Sim' class="btn2">
    <input type='submit' name='N' value='Não'class="btn2">
  </form>
  
</body>
  
</html>